main{
    background-color: rgb(206, 214, 240)
}

h1, h3{
    color: rgb(14,32,88);
}
p{
    color: rgb(123,123,123);
}

h2{
    color: rgb(66,105,226);
}

i{
    color: #ffffff;
    background-color: rgb(66,105, 226);
    padding: 7px;
    border-radius: 50%;
}